body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:14px;
  top:149px;
  width:342px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:137px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:730px;
  height:39px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:736px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:44px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:39px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:39px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:0px;
  width:145px;
  height:39px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:39px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:290px;
  top:0px;
  width:145px;
  height:39px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:39px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:435px;
  top:0px;
  width:149px;
  height:39px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:584px;
  top:0px;
  width:146px;
  height:39px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:145px;
  top:39px;
  width:100px;
  height:40px;
  visibility:hidden;
}
#u14_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:46px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:290px;
  top:39px;
  width:100px;
  height:40px;
  visibility:hidden;
}
#u20_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:46px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:435px;
  top:39px;
  width:100px;
  height:40px;
  visibility:hidden;
}
#u26_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:46px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:45px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:584px;
  top:39px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u32_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:471px;
  top:23px;
  width:109px;
  height:17px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:600px;
  top:17px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:20px;
  top:19px;
  width:88px;
  height:26px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:388px;
  top:149px;
  width:342px;
  height:290px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:290px;
}
#u44 {
  position:absolute;
  left:2px;
  top:137px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:15px;
  top:115px;
  width:150px;
  height:24px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:388px;
  top:115px;
  width:252px;
  height:24px;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:633px;
  top:489px;
  width:97px;
  height:11px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:11px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
