body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:155px;
  width:190px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:244px;
  top:159px;
  width:66px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:320px;
  top:190px;
  width:190px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:245px;
  top:195px;
  width:60px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:410px;
  top:270px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:244px;
  top:274px;
  width:102px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:236px;
  top:52px;
  width:294px;
  height:38px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
